<footer class="bg-gray-50 shadow text-gray-900 py-8">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap justify-between items-center">
        <!-- Logo y descripción -->
        <div class="w-2/4 md:w-1/3 text-center md:text-left">
          <h2 class="text-2xl font-bold">LOGO</h2>
        </div>
  
        <!-- Enlaces de navegación -->
        <div class="w-full md:w-1/3 text-center my-4 md:my-0">
          <ul class="flex justify-center space-x-6">
            <li class="px-5">
              <a href="#" class="hover:underline text-2xl">Conoce más</a>
              <p class="text-sm" >Nuestra Visión</p>
              <p class="text-sm" >Cómo vender</p>
              <p class="text-sm" >Cómo comprar</p>
            </li>
            <li class="px-5">
              <a href="#" class="hover:underline text-2xl">Servicios</a>
              <p class="text-sm" >Envíos</p>
              <p class="text-sm" >Formas de pago</p>
              <p class="text-sm" >Garantías y Devoluciones</p>
            </li>
            <li class="px-5">
              <a href="#" class="hover:underline text-2xl">Contacto</a>
              <p class="text-sm" >Teléfono: 123-456-7890</p>
              <p class="text-sm" >Correo: mail.com </p>
            </li>
            <li class="px-5">
              <a href="#" class="hover:underline text-2xl">Blog</a>
              <p class="text-sm" >Aviso de privacidad </p>
              <p class="text-sm" >Términos y Condiciones</p>
            </li>
          </ul>
        </div>
  
        <!-- Redes sociales -->
        <div class="w-full md:w-1/3 text-center md:text-right">
          <ul class="flex justify-center md:justify-end space-x-6">
            <li><a href="#" aria-label="Facebook" class="hover:text-blue-500">Facebook</a></li>
            <li><a href="#" aria-label="Instagram" class="hover:text-pink-500">Instagram</a></li>
            <li><a href="#" aria-label="Twitter" class="hover:text-blue-400">Twitter</a></li>
          </ul>
        </div>
      </div>
  
      <div class="flex justify-center" >
          
          <div class="w-full border-t-4 border-[#D8FF00] my-4 text-center"></div>
      </div>
      <!-- Copyright -->
      <div class=" text-center">
        <p>Copyright 2023 , All Rights Reserved</p>
      </div>
    </div>
  </footer>
  