

<div class="grid grid-cols-1 grid-rows-1 gap-4 ps-6 my-5">
    <div >
        <button type="button" class="rounded-full text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium  text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
            <i class="fa-solid fa-arrow-left"></i>
        </button>

        <p class="text-3xl"> Terminar tu compra</p>
    </div>
</div>


<div class="grid grid-cols-3 grid-rows-1 gap-4 my-5">
    <div class="col-span-2">
        <div class=" p-2 m-5 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-50 dark:border-gray-50">
            <p class="text-lg font-bold">Contacto</p>
            <div class="mb-5">
                <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-50 dark:border-gray-400 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Correo electronico" required />
            </div>
            <div class="mb-5">
                <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-50 dark:border-gray-400 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Telefono" required />
            </div>
            <p class="text-lg font-bold">Datos para entrega</p>

            <div class="grid grid-cols-2 grid-rows-1 gap-4">
                <div >
                    <div class="mb-5">
                        <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-50 dark:border-gray-400 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Nombre" required />
                    </div>
                </div>
                <div >
                    <div class="mb-5">
                        <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-50 dark:border-gray-400 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Apellido" required />
                    </div>
                </div>
            </div>

            <div class="grid grid-cols-3 grid-rows-1 gap-4">
                <div >
                    <div class="mb-5">
                        <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-50 dark:border-gray-400 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Calle" required />
                    </div>
                </div>
                <div >
                    <div class="mb-5">
                        <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-50 dark:border-gray-400 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Numero exterior" required />
                    </div>
                </div>
                <div >
                    <div class="mb-5">
                        <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-50 dark:border-gray-400 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Numero interior" required />
                    </div>
                </div>
            </div>

            <div class="grid grid-cols-3 grid-rows-1 gap-4">
                <div >
                    <div class="mb-5">
                        <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-50 dark:border-gray-400 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Colonia" required />
                    </div>
                </div>
                <div >
                    <div class="mb-5">
                        <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-50 dark:border-gray-400 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Codigo Postal" required />
                    </div>
                </div>
                <div >
                    <div class="mb-5">
                        <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-50 dark:border-gray-400 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Ciudad" required />
                    </div>
                </div>
            </div>

            <div class="grid grid-cols-3 grid-rows-1 gap-4">
                <div >
                    <div class="mb-5">
                        <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-50 dark:border-gray-400 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Selecciona estado" required />
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-start-3">

        <div class=" p-2 m-5 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-50 dark:border-gray-50">
            <p class="text-xl text-center font-bold p-2">Resumen de compra</p>
        </div>

        <div class=" p-2 m-5 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-50 dark:border-gray-50">

            <ul class="w-full divide-y divide-gray-200 dark:divide-gray-700 p-3">
                <li class="pb-3 sm:pb-4">
                   <div class="flex items-center space-x-4 rtl:space-x-reverse">
                      <div class="flex-1 min-w-0">
                         <p class="text-lg font-medium text-gray-900 truncate dark:text-gray-900">
                            Subtotal
                         </p>
                         <p class="text-lg font-medium text-gray-900 truncate dark:text-gray-900">
                            (4)
                         </p>
                         
                      </div>
                      <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-gray-900">
                         $ 1000.00 MXN
                      </div>
                   </div>
                </li>
                <li class="py-3 sm:py-4">
                   <div class="flex items-center space-x-4 rtl:space-x-reverse">
                      <div class="flex-1 min-w-0">
                         <p class="text-sm font-medium text-gray-900 truncate dark:text-gray-900">
                            Envio
                         </p>
                         
                      </div>
                      <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-gray-900">
                         $ 250.00 MXN
                      </div>
                   </div>
                </li>
                <li class="py-3 sm:py-4">
                   <div class="flex items-center space-x-4 rtl:space-x-reverse">
                      <div class="flex-1 min-w-0">
                         <p class="text-lg font-medium text-gray-900 truncate dark:text-gray-900">
                            Total
                         </p>
                         
                      </div>
                      <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-gray-900">
                         $ 1250.00 MXN
                      </div>
                   </div>
                </li>
             </ul>
             <p class="text-sm">Todas las transacciones son seguras y están encriptadas</p>

             <div class="grid grid-cols-1 grid-rows-1 gap-4 py-3">
                 <div >
                    <div class="mb-5">
                        <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-blue-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-50 dark:border-blue-900 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Titular de la tarjeta" required />
                    </div>
                 </div>
             </div>
     
             <div class="grid grid-cols-2 grid-rows-1 gap-4 p-3">
                <div >
                    
                    <p class="text-gray-400"> <i class="fa-solid fa-credit-card text-[#BDBFF2]"></i> Numero de tarjeta</p>
                </div>
                <div class="flex justify-end">
                    <span class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-900 dark:text-gray-50">Utilizar <strong class="text-green-400">link</strong> </span>

                </div>
            </div>
     
             <div class="grid grid-cols-1 grid-rows-1 gap-4 justify-center items-center py-3" >
                 <div class="flex justify-center">
                    <button type="button" class="w-40 justify-center items-center text-white bg-gray-950 hover:bg-gray-950 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-950 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Comprar</button>
                 </div>
             </div>
        </div>


        <div class="grid grid-cols-1 grid-rows-1 gap-4 justify-center items-center" >
            <div class="flex justify-center w-full">
               <button type="button" class="w-full  text-gray-900 bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-lg px-5 py-2.5 me-2 mb-2 dark:bg-[#D8FF00] dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
                
                <i class="fa-solid fa-lock me-3"></i>
                Compra 100% segura
                </button>
            </div>
        </div>


    </div>
</div>