
<div class="grid grid-cols-1 grid-rows-1 gap-4 ps-12 my-10">
    <div >
        <p class="text-3xl"> Bujia Mazda 3 de 2015</p>
        <p class="text-lg"> 680,896 resultados </p>
    </div>
</div>
    

<div class="grid grid-cols-5 grid-rows-1 gap-4 ps-6 my-5">
    <div>
        <div class="w-11/12 p-2 m-5 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-50 dark:border-gray-50">
  
            <div class="mb-4 mt-4">
                <label class="inline-flex items-center justify-between cursor-pointer w-full">
                    <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-900">Llega Mañana</span>
                    <input type="checkbox" value="" class="sr-only peer">
                    <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                  </label>
              </div>
        </div>
        <div class="w-11/12 p-2 m-5 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-50 dark:border-gray-50">
  
            <div class="mb-4 mt-4">
                <label class="inline-flex items-center justify-between cursor-pointer w-full">
                    <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-900">Envío gratis</span>
                    <input type="checkbox" value="" class="sr-only peer">
                    <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                  </label>
              </div>
        </div>
        <div class="w-11/12 p-2 m-5 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-50 dark:border-gray-50">
  
            <div class="mb-4 mt-4">
                <label class="inline-flex items-center justify-between cursor-pointer w-full">
                    <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-900">Tiendas oficiales</span>
                    <input type="checkbox" value="" class="sr-only peer">
                    <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                  </label>
              </div>
        </div>
        <div class="w-11/12 p-2 m-5 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-50 dark:border-gray-50">
            <div class="mb-4 mt-4">
                <label for="states" class="sr-only">Marcas</label>
                <select id="states" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-e-lg border-s-gray-100 dark:border-s-gray-700 border-s-2 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-50 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option selected>Marcas</option>
                    <option value="CA">California</option>
                    <option value="TX">Texas</option>
                    <option value="WH">Washinghton</option>
                    <option value="FL">Florida</option>
                    <option value="VG">Virginia</option>
                    <option value="GE">Georgia</option>
                    <option value="MI">Michigan</option>
                </select>
            </div>
        </div>


        <div class="w-11/12 p-2 m-5 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-50 dark:border-gray-50">
            <div class="mb-4 mt-4">
                <ul class="w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-50 dark:border-gray-50 dark:text-white">
                    <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-50">
                        <div class="flex items-center ps-3">
                            <label for="vue-checkbox" class="w-full py-3 ms-2 text-lg font-medium text-gray-900 dark:text-gray-900">Autolite</label>
                            <input id="vue-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                        </div>
                    </li>
                    <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-50">
                        <div class="flex items-center ps-3">
                            <label for="react-checkbox" class="w-full py-3 ms-2 text-lg font-medium text-gray-900 dark:text-gray-900">Bosch</label>
                            <input id="react-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                        </div>
                    </li>
                    <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-50">
                        <div class="flex items-center ps-3">
                            <label for="angular-checkbox" class="w-full py-3 ms-2 text-lg font-medium text-gray-900 dark:text-gray-900">Champion</label>
                            <input id="angular-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                        </div>
                    </li>
                    <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-50">
                        <div class="flex items-center ps-3">
                            <label for="laravel-checkbox" class="w-full py-3 ms-2 text-lg font-medium text-gray-900 dark:text-gray-900">Denso</label>
                            <input id="laravel-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                        </div>
                    </li>
                    <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-50">
                        <div class="flex items-center ps-3">
                            <label for="laravel-checkbox" class="w-full py-3 ms-2 text-lg font-medium text-gray-900 dark:text-gray-900">NGK</label>
                            <input id="laravel-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                        </div>
                    </li>
                </ul>
            </div>
        </div>



    </div>
    <div class="col-span-4">
        <div class="p-2 m-2 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-50 dark:border-gray-50">

            <div class="grid grid-cols-5 grid-rows-1 gap-4">
                <div class="col-span-4 flex items-center">
                    <p class="text-xl me-3">Ordenar por: </p>
                    <form class=" w-1/4">
                      <div class="flex">
                          <label for="states" class="sr-only">Ordonar por precio</label>
                          <select id="states" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-e-lg border-s-gray-100 dark:border-s-gray-700 border-s-2 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white dark:border-white dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                              <option selected>Menor precio</option>
                              <option value="CA">California</option>
                              <option value="TX">Texas</option>
                              <option value="WH">Washinghton</option>
                              <option value="FL">Florida</option>
                              <option value="VG">Virginia</option>
                              <option value="GE">Georgia</option>
                              <option value="MI">Michigan</option>
                          </select>
                      </div>
                    </form>
                </div>
                <div class="col-start-5">

                </div>
            </div>
        </div>
        <div class="grid grid-cols-4 grid-rows-1 gap-4">
            <div >
                <div (click)="navigateToUserShop()" class="p-2 m-2 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-50 dark:border-gray-50">
                     <div class="w-full max-w-sm bg-white  dark:bg-gray-50 dark:border-gray-50">
                        <div class="flex justify-between px-4 pt-4">
                            <p class="text-sm" >SKU: DCATO19939</p>
                            <button id="dropdownButton" data-dropdown-toggle="dropdown" class="inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-1.5" type="button">
                                <i class="fa-regular fa-heart"></i>
                            </button>
                        </div>
                        <div class="flex items-center px-4">
                            <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        </div>
                        <div class="flex justify-center">
                            <a href="#">
                                <img class="p-8 rounded-t-lg w-80" src="to10.png" alt="product image" />
                            </a>
                        </div>
                        <div class="px-5 pb-5">
                            <div class="flex justify-end">
                                <span class="rounded-3xl bg-yellow-100 text-yellow-800 text-sm font-medium me-5 mb-5 px-2.5 py-0.5 dark:bg-lime-300 dark:text-gray-900">
                                    <i class="fas fa-star"></i>
                                    4.9
                                </span>
                                
                            </div>
                            <a href="#">
                                <h5 class="text-lg font-semibold tracking-tight text-gray-900 dark:text-gray-900">Escape Mazda 6 2.5, 20009 a 2010 aluminio</h5>
                            </a>

                            <div class="flex items-center justify-between my-3">
                                <span class="text-gray-500 line-through text-xs decoration-red-500"># 1,842</span>
                            </div>

                            <div class="flex items-center justify-between">
                                <span class="text-2xl font-bold text-gray-900 dark:text-gray-900">$ 1,842</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    
    </div>
</div>